@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --background-grey: #1a1a1a;
  --foreground: #fff;
  --primary: #703bf7;
  --border: #262626;
  --animate-spins: spins 5s linear infinite;
  --animate-spin-reverse: spin-reverse 10s linear infinite;
}

/* Thin and styled scrollbar */
.UI_Mapper::-webkit-scrollbar {
  height: 5px;
}

/* ::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  width: 15px;
} */

.UI_Mapper::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

.UI_Mapper::-webkit-scrollbar-track {
  background: transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-urbanist);
}

@layer components {
  .padding {
    @apply md:px-8 p-4;
  }
}

@keyframes spin-reverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes spins {
  to {
    transform: rotate(360deg);
  }
}
